Design layout
  Flexbox
  Consider bootstrap for responsiveness on small screens?
  Flexible font size?

Add event listeners to all keys:
  Numbers add to an array and display on the screen
    [6,5,0] and [1,2]
  Operators add to a separate array, along with the .joined-up numbers
  [650, +, 12]

  Enter key eval() the expression and displays it
    removes what was previously in the display to a secondary display
    operator indexof -1, to +1;
