.calculator{
  width: 70%;
  margin: 0 auto;
  background-color: #4F6272 ;
  height: 550px;
  max-width: 300px;
  padding-top: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
  -moz-box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
  box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
}

.display{
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  background-color: #B7C3F3;
  height: 100px;
  padding-bottom: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  text-align: right;
  font-size: 30px;
}
body{
  color: #404E5C;
  font-family: Montserrat
}
.math:hover{
  cursor: pointer;
}

.header{
  text-align: center;
}

h1{
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
h2{
  margin: 0;
  font-weight: 400;
}
p{
  margin-top:0;
  font-size: .8em;
}
.math:active{
  box-shadow: none;
}
.math{
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  float: left;
  width: 22%;
  margin:  1.5% 5.66%;
  padding: 20px 0;
  background-color: #86BBD8;
  text-align: center;
  -webkit-box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
-moz-box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
box-shadow: 2px 4px 14px -1px rgba(17,17,17,1);
}

.math-operator, .math-equals, .math-decimal{
  background-color: #C68D23;
}
